 
<section class="row-fluid">  
 <form class="span8">
 	<div class="container-fluid">
            <h1>Avvia--Easy way to recruite</h1>    
             
 	
 
 	
 		
 		<select   ng-model='selectedCat'  ng-options='cat.TITLE for cat in applicantList'      ></select>
 	</ul>	
 	<ul>	
 		<input type="button" value="Go" class="btn btn-danger" ng-click='groupingAnsw()'/>
  			
 	</ul>
 		
 	
 		 <ul>
 		 	
 			
	 		  	
				<li  ng-repeat='project in groupedProjList' >

					<a href="#/questions/{{groupedProjList.indexOf(project)}}" >{{project.QUESTIONS}}</a>

                    


				</li>


					

 	
 	</ul>
 	
 		
 	</div>

 	
 	
 	
 </form> 
 
</section> 