 
<section class="row-fluid">  
 <form class="span8">
 	<div class="container-fluid">
            <h1>Aviia--Easy way to recruite </h1>    
             
 	
 	         <ul>
 	         	
 	         	<a href="#/index.html/questions"><input type="button" value="Back" class="btn btn-primary"></a> 	

 	         	
 	         </ul>
 	         
 	
 		
 	</div>
 	

 	<div>
      <p>Avvia--Applicants' answers IMAGE<span app-version></span></p>
   

            <video controls="controls" name="Video Name" ng-src="{{getVideoUrl()}}"></video>

         

    </div>

          
 </form> 
    
 
</section> 