<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - for Aviia-web</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <link href="css/bootstrap-combined.min.css" rel="stylesheet" />

    <!-- <link href="css/style.css" rel="stylesheet" /> -->


</head>

<body>

<nav class="{{active}}" >

          <!-- When a link in the menu is clicked, we set the active variable -->

          <a href="#/question1" class="home" ng-click="active='home'">Q1</a>
          <a href="#/question2" class="projects" ng-click="active='projects'">Q2</a>



        
</nav>

<div ng-view >  </div>

   

        


     <script src="bower_components/angular/angular.js"></script>
  <!-- <script src="bower_components/angular/angular.min.js"></script> -->


  <script src="bower_components/angular-route/angular-route.js"></script>

 
  <script type="text/javascript"  charset="UTF-8"   src="js/jquery.min.js"></script>

  <script src="js/script.js"></script> 

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>


</body>

</html>
